html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
}

.btn-normal {
  display: inline-block;
  font-size: 1.125rem;
  padding: .4em;
  border-radius: 8px;
  text-decoration: none;
}

.btn-small {
  display: inline-block;
  font-size: .875rem;
  padding: .3em;
  border-radius: 8px;
  text-decoration: none;
}

.btn-big {
  display: inline-block;
  font-size: 1.5rem;
  padding: .75em;
  border-radius: 8px;
  text-decoration: none;
}

.btn-subtle {
  display: inline-block;
}

.btn-ghost {
  display: inline-block;
}

.btn-warning {
  display: inline-block;
}
