html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
}

.btn-small {
  display: inline-block;
}

.btn-big {
  display: block;
}

.btn-subtle {
  display: inline-block;
}

.btn-ghost {
  display: inline-block;
}

.btn-warning {
  display: inline-block;
}
